<h1 style="background: aqua;
padding: 5px;
border-radius: 10px;
border: 3px solid black;
color: black;
text-align: center;" class="text-3xl font-semibold text-slate-1000 text-blue-600">My <a  href="/">Todo-list</a></h1>