<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Sevillana&display=swap" rel="stylesheet">
</head>
<body style="font-size: larger;font-family: 'Sevillana', cursive;">
    <img src="bg1.jpeg" alt="" style="height: 100%; width: 100%; position: absolute;top: 0px;z-index: -1;">
    <div style="margin-top: 25px;" class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <p style="    font-family: monospace;
            font-size: 30px;" class="py-3">Welcome to My Todo Manager</p>
            <p style="    font-family: monospace;
            font-size: 30px;" class="py-3">Are you new here?<br><br><a style="    background-color: cyan;
                color: black;
                margin-left: 25px;
                padding: 5px;
                border: 3px solid black;
                border-radius: 5px;
                font-family: system-ui;" class="text-blue-700" href="/signup">sign-up</a></p>
            <p style="    font-family: monospace;
            font-size: 30px;" class="py-3">Do you already have an account?<br><br><a style="    background-color: cyan;
                color: black;
                margin-left: 25px;
                padding: 5px;
                border: 3px solid black;
                border-radius: 5px;
                font-family: system-ui;" href="/login">sign-in</a></p>
        </div>
    </div>
</body>
</html>